<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="app-icon"><!--?xml version="1.0" encoding="utf-8"?-->
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
				<linearGradient id="bg" gradientUnits="userSpaceOnUse" x1="40" y1="0.4231" x2="40" y2="79.1598">
					<stop offset="0" style="stop-color:#0F4A80"></stop>
					<stop offset="1" style="stop-color:#0A3761"></stop>
				</linearGradient>
				<path fill="url(#bg)" d="M62,80H18C8.1,80,0,71.9,0,62l0-44C0,8.1,8.1,0,18,0l44,0c9.9,0,18,8.1,18,18v44C80,71.9,71.9,80,62,80z"></path>
				<rect x="30.4" y="13.5" fill="#FFFFFF" width="13.8" height="11.3"></rect>
				<rect x="30.4" y="30.3" fill="#FFFFFF" width="13.8" height="36.3"></rect>
				<rect x="49.6" y="55.3" fill="#FF6600" width="11.3" height="11.3"></rect>
			</svg>
		</div>
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Backoffice navigation</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/productOpinions/gui">Home</a></li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Spring Boot actuators <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/actuator" target="_blank">Overview</a></li>
						<li><a href="/actuator/env" target="_blank">Environment</a></li>
						<li><a href="/actuator/mappings" target="_blank">Request mappings</a></li>
						<li><a href="/actuator/configprops" target="_blank">Config properties</a></li>
						<li><a href="/actuator/togglz" target="_blank">Togglz</a></li>
						<li><a href="/actuator/beans" target="_blank">Registered beans</a></li>
						<li><a href="/actuator/autoconfig" target="_blank">Auto config</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Product opinions <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/productOpinions/find">Find</a></li>
						<li><a href="/productOpinions/approve">Approve</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>