<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Product opinion GUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" type="text/css" />
</head>

<body>
	<h2>Product opinions</h2>
	<h3>All opinions</h3>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>E-mail</th>
				<th>Subject</th>
			</tr>
		</thead>
		<tbody id="entryTable">
			<tr th:each="opinion : ${opinions}">
				<td th:text="${opinion.name}" class="name-cell">Name</td>
				<td th:text="${opinion.email}" class="category-cell">E-Mail</td>
				<td th:text="${opinion.subject}" class="url-cell">Subject</td>
			</tr>
		</tbody>
	</table>

</body>
</html>